<?php
$servername = {{ hostvars[['db'][0]]['ansible_fqdn'] }};
$username = {{ db_username }};
$password = {{ db_password }};
// Create connection
$conn = new mysqli($servername, $username, $password);
// Check connection
if ($conn->connect_error) {
    die("Unfortunately connection failed: " . $conn->connect_error);
}
echo "Yay! Connected successfully";
?>
